<div class='column'>
  <h2 class='title pb-4'>create a new monkey identity:</h2><hr />
  <form class='signup-form'>
    <div>
      <label class='user-pw-text' for='username-signup'>monkey name:</label>
      <input type='text' id='username-signup' />
    </div>
    <div>
      <label class='user-pw-text' for='password-signup'>password:</label>
      <input type='password' id='password-signup' />
    </div>
    <div>
      <button type='submit' class='button is-primary'>signup</button>
    </div>
  </form>
</div>

<!-- javascript file-->
<script src='/javascript/signup.js'></script>